.topic-lists .title {
  font-size: 15px;
  margin-bottom: 0;
}
.panel {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}
.topic-lists .infos {
  color: #ABA8A6;
  font-size: 12px;
  padding-top: 14px;
}
.count.media-right {
  vertical-align: middle;
}
.topic-lists .topic {
  margin: 0 -15px;
  padding: 10px 15px;
  border-bottom: 1px solid #F0F0F0;
}
.topic-lists .panel-body {
  padding: 0 15px;
}
.separator {
  padding: 0 5px;
}

span.glyphicon-heart {
  color: #EB5424;
}

span.glyphicon.left {
  margin-left: 3px;
}
span.glyphicon.right {
  margin-right: 3px;
}
span.glyphicon {
  line-height: 17px;
  top: 3px;
}
